body {
background: transparent url(../img/bg.jpg);
}
/*#content {
	width: 0 auto;
	border:1px dashed #333;
	border-radius: 10px;
	color:#333;
	background: #eee;
	text-align: center;*/
	position: relative;
}
#test {
	width:300px;
	height:50px;
	text-align: center;
}
a {
transition-duration: 0.05s !important;
transition-property:background, background-color, color, text-shadow !important;
transition-timing-function: ease-in-out !important;
-webkit-transition: all linear 0.3s !important;
-moz-transition: all linear 0.3s !important;
-ms-transition: all linear 0.3s !important;
-o-transition: all linear 0.3s !important;
transition: all linear 0.3s !important;
}
@media (min-width: 720px) and (max-width: 3000px) {
.nodrus {
color: #ccc;
~font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
right: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.sharij {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
right: 9.1%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myok {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
left: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myvk {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
left: 8.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.nodrus:hover, .sharij:hover, .myok:hover, .myvk:hover {
color: #fff;
text-shadow: 0 0 1px #fff, 0 0 2px #fff;
box-shadow: 0 0 15px 1px #000;
border-color: #fff;
border: 1px dashed #000;
background-color: rgba(26,26,26, .7);
}
}

@media (min-width: 480px) and (max-width: 720px) {
.nodrus {
color: #ccc;
~font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
right: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.sharij {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
right: 10.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myok {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
left: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myvk {
color: #ccc;
font-weight: bold;
font-size: 8pt;
position: absolute;
bottom: 1.5%;
left: 10.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
	.nodrus:hover, .sharij:hover, .myok:hover, .myvk:hover {
color: #fff;
text-shadow: 0 0 1px #fff, 0 0 2px #fff;
box-shadow: 0 0 15px 1px #000;
border-color: #fff;
border: 1px dashed #000;
background-color: rgba(26,26,26, .7);
}
}
