
/*#content {
	width: 0 auto;
	border:1px dashed #333;
	border-radius: 10px;
	color:#333;
	background: #eee;
	text-align: center;*/
	position: relative;
}
body {
background: #333 url(../img/bg.jpg) no-repeat;
background-size: 100%;
}
#title * {
font-family: "Ruslan Display";
font-weight: normal;
font-style: normal;
font-size: 40px;
position: absolute;
top: 5%;
}
.title {
color: #fff;
text-shadow: 0 0 10px #fff;
word-wrap: break-word;
}
a {
transition-duration: 0.05s !important;
transition-property:background, background-color, color, text-shadow !important;
transition-timing-function: ease-in-out !important;
-webkit-transition: all linear 0.3s !important;
-moz-transition: all linear 0.3s !important;
-ms-transition: all linear 0.3s !important;
-o-transition: all linear 0.3s !important;
transition: all linear 0.3s !important;
}

@media (min-width: 800px) and (max-width: 1920px) {
body {
background: #333 url(../img/bg.jpg) no-repeat;
background-position-x: 15%;
}
.nodrus {
color: #ccc;
~font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.sharij {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 9.1%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myok {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myvk {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 8.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.nodrus:hover, .sharij:hover, .myok:hover, .myvk:hover {
color: #fff;
text-shadow: 0 0 1px #fff, 0 0 2px #fff;
box-shadow: 0 0 15px 1px #000;
border-color: #fff;
border: 1px dashed #000;
background-color: rgba(26,26,26, .7);
}
}

@media (min-width: 725px) and (max-width: 800px) {
body {
background: #333 url(../img/bg.jpg) no-repeat;
background-position-x: 15%;
}
.nodrus {
color: #ccc;
~font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.sharij {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 9.1%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myok {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 1.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myvk {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 8.5%;
padding: 0.7% 1.9%;
border: 1px solid #000;
border-radius: 5px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.nodrus:hover, .sharij:hover, .myok:hover, .myvk:hover {
color: #fff;
text-shadow: 0 0 1px #fff, 0 0 2px #fff;
box-shadow: 0 0 15px 1px #000;
border-color: #fff;
border: 1px dashed #000;
background-color: rgba(26,26,26, .7);
}
}

@media (min-width: 380px) and (max-width: 725px) {
body {
background: #333 url(../img/bg.jpg) no-repeat;
background-position-x: 25%; 
}
.nodrus {
color: #ccc;
~font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 1.5%;
padding: 1.5% 4%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.sharij {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
right: 17%;
padding: 1.5% 2.5%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myok {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 1.5%;
padding: 1.5% 4%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.myvk {
color: #ccc;
font-weight: bold;
font-size: 8.5pt;
position: absolute;
bottom: 1.5%;
left: 17%;
padding: 1.5% 4%;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 0 10px #222;
background-color: rgba(26,26,26, .4);
text-decoration: none;
vertical-align: bottom;
}
.nodrus:hover, .sharij:hover, .myok:hover, .myvk:hover {
color: #fff;
text-shadow: 0 0 1px #fff, 0 0 2px #fff;
box-shadow: 0 0 15px 1px #000;
border-color: #fff;
border: 1px dashed #000;
background-color: rgba(26,26,26, .7);
}
}

@media (min-width: 1250px) and (max-width: 1920px) {
#title {
margin-left: 85%;
}
}
@media (min-width: 800px) and (max-width: 1250px) {
#title {
margin-left: 75%;
}
}
@media (min-width: 545px) and (max-width: 800px) {
#title {
margin-left: 65%;
}
}
@media (min-width: 450px) and (max-width: 545px) {
#title {
margin-left: 55%;
}
