body {
background: transparent url(https://farm2.staticflickr.com/1945/44190295665_5198f1a087_o.jpg);
}
/*#content {
	width: 0 auto;
	border:1px dashed #333;
	border-radius: 10px;
	color:#333;
	background: #eee;
	text-align: center;
}*/
p#test {
	width:300px;
	height:50px;
	text-align: center;
}
