@font-face {
	font-family: 'Ruslan Display';
	src: url('RuslanDisplay.eot');
	src: local('Ruslan Display Regular'), local('RuslanDisplay'),
		url('RuslanDisplay.eot?#iefix') format('embedded-opentype'),
		url('RuslanDisplay.woff') format('woff'),
		url('RuslanDisplay.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
